# Dependencies
node_modules/

# Build
dist/
dev-dist/
dist-ssr/
*.local

# Environment
.env
.env.*

# Prisma
/prisma/migrations/
/backend/prisma/migrations/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
dev.db
